*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  font-size: 30px;
  font-family: sans-serif;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10% auto;
  gap: 20px;
  padding: 1%;
}



body {
  background-color: rgb(12, 20, 32);
}


.button {
  font-family: sans-serif;
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid rgb(21, 212, 88);
  background-color: rgb(11, 105, 42);
  color: rgb(209, 253, 209);
  opacity: 0.8;
}

.button:active {
  opacity: 1;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  list-style: none;
  font-family: sans-serif;
  font-size: 16px;
  color: white;
}

.list-span {
  background-color: rgb(32, 37, 63);
  padding: 5px;
  border-radius: 8px;
}

.repos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.repos-item {
  border: 1px solid rgba(128, 128, 128, 0.18);
  padding: 5px 10px;

}

.repos-item h2 {
  color: white;
  font-family: sans-serif;
  font-size: 16px;
}

.visit {
  color: white;
  opacity: 0.7;
  font-family: sans-serif;
  font-size: 14px;
}

.img {
  max-width: 100px;
  border-radius: 100px;
}

.friends-list {
  list-style: none;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.168);
  animation-name: animate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes animate {
  0%{
    border: 1px solid rgba(128, 128, 128, 0.249)
  }50%{
    border:1px solid transparent;
  }
  100%{
    border:1px solid rgba(128, 128, 128, 0.249);
  }
  
}

.ul-main {
  background-color: rgba(28, 38, 64, 0.153);
  box-shadow: 0px 0px 5px 0px rgb(33, 48, 3);
  padding: 10px;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;;
}